spring:
  application:
    name: ekp-biz-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/ekp_db
    username: ekp_user
    password: ekp_password
    driver-class-name: org.postgresql.Driver
    
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        
  flyway:
    enabled: true
    locations: classpath:db/migration
    
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.ekp: DEBUG
    org.springframework.web: INFO
