.env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
uploads/
*.log
